<h1>ZingChart &amp; Rails</h1>
<p>Welcome to the ZingChart &amp; Rails Gallery</p>
<p>Create, view, edit, and delete your charts all through here.</p>
<%= link_to 'Get Started', controller: 'charts' %>