<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra &amp; ZingChart</title>
	<!-- We're loading ZingChart from the CDN -->
	<script src="http://cdn.zingchart.com/zingchart.min.js"></script>
</head>
<body>
	<form action="/json" method="GET">
		<textarea name="json" cols="30" rows="100"></textarea>
		<button type="submit">Share</button>
	</form>
</body>
</html>