<!DOCTYPE html>
<html>
    <head>
        <title>Django-ZingChart Demo</title> 
        <script type="text/javascript" src="http://cdn.zingchart.com/zingchart.min.js"></script>
    </head>
    <body>
        <h1>Welcome to Django-ZingChart!</h1>
        <div id="mychart"></div>

        <script>
            function getChartConfig(url) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", url, false)
                xmlHttp.send(null);
                
                return xmlHttp.responseText;
            };
            function getChartData(url) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", url, false);
                xmlHttp.send(null);
                
                return xmlHttp.responseText;
            };
            
            function formatData(theData) {
                var seriesData = {
                    series_0: [],
                    series_1: [],
                    series_2: []
                };

                for (var i = 0; i < aData.length; i++) {
                    seriesData['series_0'].push(aData[i]['series0']);
                    seriesData['series_1'].push(aData[i]['series1']);
                    seriesData['series_2'].push(aData[i]['series2']);
                }
                return seriesData;
            };
            window.onload = function() {
                var oData = JSON.parse(getChartData('http://localhost:8000/zc_demo/data'));
                var oConfig = JSON.parse(getChartConfig('http://localhost:8000/zc_demo/config'));
                
                zingchart.render({
                    id: 'mychart',
                    width: 600,
                    height: 400,
                    theme: oConfig.theme,
                    data: {
                        type: 'line',
                        title: {
                            text: oConfig.title
                        },
                        scaleX: {
                            label: {
                                text: oConfig.xAxis
                            }
                        },
                        scaleY: {
                            label: {
                                text: oConfig.yAxis
                            },
                            markers:[{
                                type: 'area',
                                range: [oConfig.dangerRangeLow,oConfig.dangerRangeHigh],
                                backgroundColor: 'red',
                                alpha: 0.5
                            },
                            {
                                type: 'area',
                                range: [oConfig.warningRangeLow,oConfig.warningRangeHigh],
                                backgroundColor: 'orange',
                                alpha: 0.5
                            },
                            {
                                type: 'area',
                                range: [oConfig.idleRangeLow,oConfig.idleRangeHigh],
                                backgroundColor: 'green',
                                alpha: 0.5
                            }]
                        },
                        series:[{
                            values:oData.temps
                        }]
                    }
                });
            };
        </script>
    </body>
</html>
