@model ZingChartModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ZingChart</h1>
    <p class="lead">Use our JavaScript charts. Ship better products.</p>
    <p><a href="http://zingchart.com" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <!-- This is our targeted chart Div-->
   <div id="myChart"></div>
</div>

<script type="text/javascript">
    var tempDataArray  = @ViewData["valuesArray"]; // Tempdata array comes in as a JSON
    var yourModelarray = @(Json.Encode(Model.values)); // Use System.WebHelpers to create a JSON out of your model

    //JSON configuration values represent chart styling & data
    var myConfig = {
        type: "bar",
        title: {
            text: "My ASP.NET & ZingChart Together!"
        },
        series: [ // However you choose to pass your data, it is the same result!
            {
                values: yourModelarray
            },
            {
                values: tempDataArray
            }
        ]
    };

    // Method that renders the chart
    zingchart.render({
        id: 'myChart',   // Target Div
        data: myConfig,  // JSON defined above
        height: 400,     // Height of chart, not div
        width: "100%"    // Width fits width of div
    });
</script>